USE [QL_ShopThoiTrang]
GO
/****** Object:  Table [dbo].[BangGia]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BangGia](
	[MASP] [char](10) NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
	[GiaBan] [int] NULL,
	[GiaNhap] [int] NULL,
 CONSTRAINT [PK_BangGia] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[NgayCapNhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [char](10) NOT NULL,
	[TENBP] [nvarchar](50) NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_DATHANG]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DATHANG](
	[CTMADH] [int] IDENTITY(1,1) NOT NULL,
	[MADH] [char](10) NULL,
	[MASP] [char](10) NULL,
	[SOLUONGDAT] [int] NULL,
	[GIANHAP] [int] NULL,
	[THANHTIEN] [int] NULL,
	[GHICHUGH] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT_DATHANG] PRIMARY KEY CLUSTERED 
(
	[CTMADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MACTHD] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [int] NULL,
	[MASP] [char](10) NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MACTPN] [int] IDENTITY(1,1) NOT NULL,
	[MAPN] [char](10) NULL,
	[MASP] [char](10) NULL,
	[SOLUONGNHAP] [int] NULL,
	[GIANHAP] [int] NULL,
	[THANHTIEN] [int] NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MACTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATHANG]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATHANG](
	[MADH] [char](10) NOT NULL,
	[MANV] [char](10) NULL,
	[MANCC] [char](10) NULL,
	[NGAYDAT] [datetime] NULL,
	[NGAYGIAO] [datetime] NULL,
	[TIENDAT] [int] NULL,
	[TTGIAOHANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_DATHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DM_MAHINH]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_MAHINH](
	[MAMANHINH] [char](10) NOT NULL,
	[TENMANHINH] [nvarchar](50) NULL,
 CONSTRAINT [PK_DM_MAHINH] PRIMARY KEY CLUSTERED 
(
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NULL,
	[MANV] [char](10) NULL,
	[NGAYTAO] [date] NULL,
	[THANHTOAN] [int] NULL,
	[TTTHANHTOAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[TENDN] [char](30) NULL,
	[GMAIL] [varchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[PASS] [char](20) NULL,
	[GIOITINH] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [char](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[MABP] [char](10) NULL,
	[MATKHAU] [varchar](20) NULL,
	[HOATDONG] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [char](10) NOT NULL,
	[MADH] [char](10) NULL,
	[NGAYNHAP] [date] NULL,
	[TIENNHAP] [int] NULL,
	[MANV] [char](10) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_PHANQUYEN]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_PHANQUYEN](
	[MABP] [char](10) NOT NULL,
	[MAMANHINH] [char](10) NOT NULL,
	[COQUYEN] [bit] NULL,
 CONSTRAINT [PK_QL_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MABP] ASC,
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 2021-06-15 9:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](10) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[GIA] [int] NULL,
	[MOTA] [nvarchar](255) NULL,
	[SOLUONGTON] [int] NULL,
	[MANCC] [char](10) NULL,
	[MALOAI] [char](10) NULL,
	[ANH] [nvarchar](max) NULL,
	[ANHCT] [nvarchar](max) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BangGia] ([MASP], [NgayCapNhat], [GiaBan], [GiaNhap]) VALUES (N'SPNA01    ', CAST(0x0000ACE900000000 AS DateTime), 140000, 100000)
INSERT [dbo].[BangGia] ([MASP], [NgayCapNhat], [GiaBan], [GiaNhap]) VALUES (N'SPNA01    ', CAST(0x0000ACEB00000000 AS DateTime), 160000, 100000)
INSERT [dbo].[BangGia] ([MASP], [NgayCapNhat], [GiaBan], [GiaNhap]) VALUES (N'SPNA02    ', CAST(0x0000ACCD00000000 AS DateTime), 175000, 100000)
INSERT [dbo].[BOPHAN] ([MABP], [TENBP]) VALUES (N'BP02      ', N'Nhân Viên Kho Hàng')
INSERT [dbo].[BOPHAN] ([MABP], [TENBP]) VALUES (N'BP01      ', N'Nhân Viên Thu Ngân')
SET IDENTITY_INSERT [dbo].[CT_DATHANG] ON 

INSERT [dbo].[CT_DATHANG] ([CTMADH], [MADH], [MASP], [SOLUONGDAT], [GIANHAP], [THANHTIEN], [GHICHUGH]) VALUES (3, N'MADH04    ', N'SPNA02    ', 2, 100000, 200000, NULL)
INSERT [dbo].[CT_DATHANG] ([CTMADH], [MADH], [MASP], [SOLUONGDAT], [GIANHAP], [THANHTIEN], [GHICHUGH]) VALUES (4, N'MADH05    ', N'SPNA01    ', 5, 100000, 500000, NULL)
INSERT [dbo].[CT_DATHANG] ([CTMADH], [MADH], [MASP], [SOLUONGDAT], [GIANHAP], [THANHTIEN], [GHICHUGH]) VALUES (6, N'MADH06    ', N'SPNA01    ', 2, 100000, 200000, NULL)
SET IDENTITY_INSERT [dbo].[CT_DATHANG] OFF
SET IDENTITY_INSERT [dbo].[CT_HOADON] ON 

INSERT [dbo].[CT_HOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (1, 3, N'SPNA01    ', 2, 150000, 300000)
INSERT [dbo].[CT_HOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (2, 3, N'SPNA02    ', 2, 200000, 400000)
INSERT [dbo].[CT_HOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (3, 4, N'SPNA01    ', 2, 150000, 300000)
SET IDENTITY_INSERT [dbo].[CT_HOADON] OFF
SET IDENTITY_INSERT [dbo].[CT_PHIEUNHAP] ON 

INSERT [dbo].[CT_PHIEUNHAP] ([MACTPN], [MAPN], [MASP], [SOLUONGNHAP], [GIANHAP], [THANHTIEN], [GHICHU]) VALUES (1, N'PN02      ', N'SPNA01    ', 2, 100000, 200000, N'Đủ')
INSERT [dbo].[CT_PHIEUNHAP] ([MACTPN], [MAPN], [MASP], [SOLUONGNHAP], [GIANHAP], [THANHTIEN], [GHICHU]) VALUES (2, N'PN03      ', N'SPNA03    ', 1, 150000, 150000, N'Đủ')
INSERT [dbo].[CT_PHIEUNHAP] ([MACTPN], [MAPN], [MASP], [SOLUONGNHAP], [GIANHAP], [THANHTIEN], [GHICHU]) VALUES (3, N'PN04      ', N'SPNA01    ', 4, 100000, 400000, N'Đủ')
SET IDENTITY_INSERT [dbo].[CT_PHIEUNHAP] OFF
INSERT [dbo].[DATHANG] ([MADH], [MANV], [MANCC], [NGAYDAT], [NGAYGIAO], [TIENDAT], [TTGIAOHANG]) VALUES (N'MADH01    ', N'NV01      ', N'NCC01     ', CAST(0x0000AD0A00000000 AS DateTime), CAST(0x0000AD1400000000 AS DateTime), NULL, N'Chưa Giao Hàng')
INSERT [dbo].[DATHANG] ([MADH], [MANV], [MANCC], [NGAYDAT], [NGAYGIAO], [TIENDAT], [TTGIAOHANG]) VALUES (N'MADH010   ', N'NV01      ', N'NCC01     ', CAST(0x0000AD0E00000000 AS DateTime), CAST(0x0000AD0200000000 AS DateTime), 200000, N'Đã Giao Hàng')
INSERT [dbo].[DATHANG] ([MADH], [MANV], [MANCC], [NGAYDAT], [NGAYGIAO], [TIENDAT], [TTGIAOHANG]) VALUES (N'MADH011   ', N'NV01      ', N'NCC01     ', CAST(0x0000AD0F00000000 AS DateTime), CAST(0x0000AD0B00000000 AS DateTime), 400000, N'Đã Giao Hàng')
INSERT [dbo].[DM_MAHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'SF001     ', N'Bán Hàng')
INSERT [dbo].[DM_MAHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'SF002     ', N'Đặt Hàng')
INSERT [dbo].[DM_MAHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'SF003     ', N'Nhập Hàng')
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYTAO], [THANHTOAN], [TTTHANHTOAN]) VALUES (1, 1, N'NV01      ', CAST(0x63420B00 AS Date), 0, N'Đã Thanh Toán')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYTAO], [THANHTOAN], [TTTHANHTOAN]) VALUES (2, 1, N'NV01      ', CAST(0x63420B00 AS Date), 0, N'Đã Thanh Toán')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYTAO], [THANHTOAN], [TTTHANHTOAN]) VALUES (3, 1, N'NV01      ', CAST(0x63420B00 AS Date), 700000, N'Đã Thanh Toán')
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [TENDN], [GMAIL], [SDT], [DIACHI], [PASS], [GIOITINH]) VALUES (1, N'Khách Vãng Lai', N'Khong                         ', N'admin12123@gmail.com', N'0971724305', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'ML01      ', N'Quần Nam')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC01     ', N'Công Ty Sỹ Thành', N'Quận 1,TPHCM', N'0971724305')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC02     ', N'Công Ty May Mặc Như Yến', N'Trại Tâm Thần', N'0987462559')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC03     ', N'Công Ty TNHH Hùng Hồng', N'Thủ Đức,TPHCMinh', N'0952748225')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [DIACHI], [GIOITINH], [SDT], [MABP], [MATKHAU], [HOATDONG]) VALUES (N'NV01      ', N'Nguyễn Sỹ Thành', CAST(0x75240B00 AS Date), N'Ba Đồn,Quảng Bình', N'Nam', N'0971724305', N'BP01      ', N'Thanh123', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [DIACHI], [GIOITINH], [SDT], [MABP], [MATKHAU], [HOATDONG]) VALUES (N'NV02      ', N'Trần Thị Như Yến', CAST(0x66240B00 AS Date), N'Thành Phố Hồ Chí Minh', N'Nữ', N'0975642883', N'BP02      ', N'Yen123', 1)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MADH], [NGAYNHAP], [TIENNHAP], [MANV]) VALUES (N'PN01      ', N'MADH015   ', CAST(0x73420B00 AS Date), 350000, N'NV01      ')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MADH], [NGAYNHAP], [TIENNHAP], [MANV]) VALUES (N'PN02      ', N'MADH010   ', CAST(0x76420B00 AS Date), 200000, N'NV01      ')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MADH], [NGAYNHAP], [TIENNHAP], [MANV]) VALUES (N'PN03      ', N'MADH014   ', CAST(0x76420B00 AS Date), 150000, N'NV01      ')
INSERT [dbo].[QL_PHANQUYEN] ([MABP], [MAMANHINH], [COQUYEN]) VALUES (N'BP01      ', N'SF001     ', 1)
INSERT [dbo].[QL_PHANQUYEN] ([MABP], [MAMANHINH], [COQUYEN]) VALUES (N'BP01      ', N'SF002     ', 1)
INSERT [dbo].[QL_PHANQUYEN] ([MABP], [MAMANHINH], [COQUYEN]) VALUES (N'BP01      ', N'SF003     ', 0)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [MOTA], [SOLUONGTON], [MANCC], [MALOAI], [ANH], [ANHCT]) VALUES (N'SPNA01    ', N'Quần Jeans Nam Rách gối', 150000, N'Đẹp', 9, N'NCC01     ', N'ML01      ', NULL, NULL)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [MOTA], [SOLUONGTON], [MANCC], [MALOAI], [ANH], [ANHCT]) VALUES (N'SPNA02    ', N'Quần Kaki Nam đen', 175000, N'Đẹp', 17, N'NCC02     ', N'ML01      ', NULL, NULL)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [MOTA], [SOLUONGTON], [MANCC], [MALOAI], [ANH], [ANHCT]) VALUES (N'SPNA03    ', N'Áo Sơ Mi ', 260000, N'Qúa Chời đẹp', 3, N'NCC01     ', N'ML01      ', N'135548162_245593323593879_858509093359364958_o.jpg', N'136782393_245593353593876_1450253401937371767_o.jpg')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNI_TENBP]    Script Date: 2021-06-15 9:05:34 PM ******/
ALTER TABLE [dbo].[BOPHAN] ADD  CONSTRAINT [UNI_TENBP] UNIQUE NONCLUSTERED 
(
	[TENBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNI_TENDN]    Script Date: 2021-06-15 9:05:34 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UNI_TENDN] UNIQUE NONCLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNI_LOAI]    Script Date: 2021-06-15 9:05:34 PM ******/
ALTER TABLE [dbo].[LOAISP] ADD  CONSTRAINT [UNI_LOAI] UNIQUE NONCLUSTERED 
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNI_SDTNV]    Script Date: 2021-06-15 9:05:34 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UNI_SDTNV] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangGia]  WITH CHECK ADD  CONSTRAINT [FK_BangGia_SanPham] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[BangGia] CHECK CONSTRAINT [FK_BangGia_SanPham]
GO
ALTER TABLE [dbo].[CT_DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DATHANG_DATHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DATHANG] ([MADH])
GO
ALTER TABLE [dbo].[CT_DATHANG] CHECK CONSTRAINT [FK_CT_DATHANG_DATHANG]
GO
ALTER TABLE [dbo].[CT_DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DATHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_DATHANG] CHECK CONSTRAINT [FK_CT_DATHANG_SANPHAM]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_SANPHAM]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_NCC]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_DATHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DATHANG] ([MADH])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_DATHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQUYEN_BOPHAN] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQUYEN_BOPHAN]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQUYEN_DMManHinh] FOREIGN KEY([MAMANHINH])
REFERENCES [dbo].[DM_MAHINH] ([MAMANHINH])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQUYEN_DMManHinh]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NCC]
GO
